<section class="content-header">
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i>数据指标统计</a></li>
        <li class="active">名词解释和统计范围</li>
    </ol>
</section>
<section class="content">
    <div class="bs-callout bs-callout-danger">
        <h2>1.概述</h2>
        <p style="text-indent:21.0000pt;"><b>全省：</b>包括省级、地市、区县部门，可自定义查询选择不包含非行政区划，默认包含非行政区划（新区）。</p>
        <p style="text-indent:21.0000pt;"><b>省级：</b>省级部门</p>
        <p style="text-indent:21.0000pt;"><b>地市：</b>地市。可自定义查询添加区划，区划分为珠三角地市（广州市、深圳市、珠海市、佛山市、顺德区、江门市、肇庆市、惠州市、东莞市、中山市）和粤东西北地市（韶关市、汕头市、湛江市、茂名市、梅州市、汕尾市、河源市、阳江市、清远市、潮州市、揭阳市、云浮市）</p>
        <p style="text-indent:21.0000pt;"><b>区县：</b>区县。可自定义查询选择不包含非行政区划，默认包含非行政区划（新区）。可自定义查询添加区划，区划分为珠三角区县（广州市、深圳市、珠海市、佛山市、顺德区、江门市、肇庆市(端州区、鼎湖区、高要市、四会市)、惠州市、东莞市、中山市）和粤东西北区县（韶关市、汕头市、湛江市、茂名市、肇庆市（广宁县、德庆县、封开县、怀集县）、梅州市、汕尾市、河源市、阳江市、清远市、潮州市、揭阳市、云浮市）</p>
    </div>
    <div class="bs-callout bs-callout-info">
        <h2>2.数据指标统计</h2>
        <h3 style="text-indent:21.0000pt;">2.1总体统计</h3>
        <h4 style="text-indent:42.0000pt;">2.1.1进驻事项</h4>
        <p style="text-indent:63.0000pt;">published状态的事项</p>
        <p style="text-indent:63.0000pt;">进驻事项数包括：行政审批事项数、公共服务事项数</p>

        <h4 style="text-indent:42.0000pt;">2.1.2进驻部门</h4>
        <p style="text-indent:63.0000pt;">进驻部门网上办事大厅的部门数</p>

        <h4 style="text-indent:42.0000pt;">2.1.3办结总量</h4>
        <p style="text-indent:63.0000pt;">办结总量=网上办结+非网上办结</p>
        <p style="text-indent:63.0000pt;">办结业务量包括：行政审批业务量、公共服务业务量、其他业务量</p>

        <h4 style="text-indent:42.0000pt;">2.1.4网上办结</h4>
        <p style="text-indent:63.0000pt;">网上办结业务量包括：行政审批业务量、公共服务业务量、其他业务量</p>

        <h3 style="text-indent:21.0000pt;">2.2三率一数统计</h3>
        <p style="text-indent:42.0000pt;">针对行政审批事项。三率一数列表点击数字（非百分比）列头排序即可将总计放到最前面</p>

        <h4 style="text-indent:42.0000pt;">2.2.1网上全流程办理率</h4>
        <img style="height: 90px;left: 50px;position: relative;" src="assets/img/wsqlcbjl.png">

        <h4 style="text-indent:42.0000pt;">2.2.2网上办结率</h4>
        <p style="text-indent:63.0000pt;">网上办结率指网上全流程办理并办结的业务量占总业务量的比率。</p>
        <p style="text-indent: 21.0000pt;padding: 0 4em;">业务量是指办事人提出申请，部门受理且在统计区间内办结的业务量，申办、受理和办结是每笔业务的必备环节， 缺失环节的业务数据不纳入网上办结率的统计之中。部门不受理或不予受理的业务量进行分类统计，不纳入网上办结率的统计之中。上网办理业务量是指办事人在申办环节，申办资料提交方式为网上提交办理的业务量。</p>
        <p style="text-indent:63.0000pt;">总业务量 = 上网办理业务量＋非上网办理业务量</p>
        <p style="text-indent: 21.0000pt;padding: 0 4em;">网上全流程办理并办结的业务量是指达到三级深度（在主厅实现全流程办理，办理进度可全流程网上跟踪、查询和全过程监督）的事项在网上办理的业务量总和。</p>
        <img style="height: 70px;left: 80px;position: relative;" src="assets/img/wsbjl.png">

        <h4 style="text-indent:42.0000pt;">2.2.3上网办理率</h4>
        <p style="text-indent:63.0000pt;">上网办理率= 上网办理业务量/总业务量</p>

        <h3 style="text-indent:21.0000pt;">2.3业务办理统计</h3>
        <p style="text-indent:42.0000pt;">网上申办数=正常办结数+异常办结数</p>
        <p style="text-indent:42.0000pt;">异常办结包括：退回办结数、作废办结数、删除办结数、转报办结数、补正不来办结数</p>

        <h3 style="text-indent:21.0000pt;">2.4无业务事项统计</h3>
        <p style="text-indent:42.0000pt;">无业务发生的事项是指在一个自然年内没有发生一笔办结业务的事项，事项考核均按具体办理事项统计，即按子项统计。</p>
        <img style="height: 60px;left: 40px;position: relative;" src="assets/img/wywsxl.png">
        <p style="text-indent:42.0000pt;">同理可知有业务事项率</p>

        <h3 style="text-indent:21.0000pt;">2.5事项进驻情况</h3>
        <p style="text-indent:42.0000pt;">已进驻部门总数、已进驻事项总数、行政审批总数、公共服务总数。</p>
        <p style="text-indent:42.0000pt;">已进驻事项总数=行政审批总数+公共服务总数</p>
    </div>

    <div class="bs-callout bs-callout-warning">
        <h2>3.数据质量监测</h2>
        <h3 style="text-indent:21.0000pt;">3.1总体统计</h3>
        <h4 style="text-indent:42.0000pt;">错误类型：</h4>
        <p style="text-indent:63.0000pt;">(1) 行政区划错误</p>
        <p style="text-indent:63.0000pt;">(2) 金额单位错误</p>
        <p style="text-indent:63.0000pt;">(3) 组织机构代码错误</p>
        <p style="text-indent:63.0000pt;">(4) 环节状态码错误</p>
        <p style="text-indent:63.0000pt;">(5) 时序错误</p>

        <h3 style="text-indent:21.0000pt;">3.2数据质量统计</h3>
        <p style="text-indent:42.0000pt;">记录来源于10张业务流程表</p>
        <p style="text-indent:42.0000pt;">总记录数=正确记录数+错误记录数</p>
        <p style="text-indent:42.0000pt;">正确率 = 正确记录数 / 总记录数 * 100%</p>

        <h3 style="text-indent:21.0000pt;">3.3进驻部门数据版本</h3>
        <p style="text-indent:42.0000pt;">默认显示昨日进驻部门数和今日进驻部门数及进驻部门数版本差值，可自定义查询选择指定两个日期，分别为版本一进驻部门数、版本二进驻部门数</p>
        <p style="text-indent:42.0000pt;"><b>昨日进驻部门数：</b>截止至昨日的进驻部门数。</p>
        <p style="text-indent:42.0000pt;"><b>今日进驻部门数：</b>截止至今日的进驻部门数。</p>
        <p style="text-indent:42.0000pt;"><b>进驻部门数版本差值：</b></p>
        <p style="text-indent:63.0000pt;">差异类型：新增、删除</p>
        <p style="text-indent:63.0000pt;">进驻部门数版本差值=新增+删除</p>
        <p style="text-indent:63.0000pt;">新增-删除=版本二进驻部门数-版本一进驻部门数</p>

        <h3 style="text-indent:21.0000pt;">3.4进驻事项数据版本</h3>
        <p style="text-indent:42.0000pt;">默认显示昨日进驻事项数和今日进驻事项数及进驻事项数版本差值，可自定义查询选择指定两个日期，分别为版本一进驻事项数、版本二进驻事项数</p>
        <p style="text-indent:42.0000pt;"><b>昨日进驻事项数：</b>截止至昨日的进驻事项数。包括行政审批、公共服务</p>
        <p style="text-indent:42.0000pt;"><b>今日进驻事项数：</b>截止至今日的进驻事项数。包括行政审批、公共服务</p>
        <p style="text-indent:42.0000pt;"><b>进驻事项数版本差值：</b></p>
        <p style="text-indent:63.0000pt;">差异类型：新增、删除</p>
        <p style="text-indent:63.0000pt;">事项类型：行政审批、公共服务</p>
        <p style="text-indent:63.0000pt;">进驻事项数版本差值=新增+删除</p>
        <p style="text-indent:63.0000pt;">新增-删除=版本二进驻事项数-版本一进驻事项数</p>
    </div>
</section>