<section class="content-header">
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="togglePerspective('all')">全省</button>
        <button type="button" class="btn btn-default" ng-click="togglePerspective('province')">省级</button>
        <button type="button" class="btn btn-default" ng-click="togglePerspective('city')">地市</button>
        <button type="button" class="btn btn-default" ng-click="togglePerspective('county')">区县</button>
        <button type="button" class="btn btn-default" ng-click="toggle=!toggle">自定义查询</button>
    </div>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 数据指标统计</li>
        <li class="active">总体统计</li>
    </ol>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div ng-show="toggle" class="col-md-12">
                <form class="form-inline" role="form">
                    <select ng-model="choseyear" class="form-control" ng-options="year for year in years"
                            ng-change="defaultMonth();">
                    </select>&nbsp;&nbsp;年&nbsp;&nbsp;
                    <!--<div ng-if="!(choseyear==2014 || choseyear==2015)" style="display: inline-block;">-->
                    <div ng-if="choseyear != 2016" style="display: inline-block;">
                        <select ng-model="$parent.smonth" class="form-control"
                                ng-options="month for month in [] | range:1:maxmonth+1">
                            <!--<option value="">请选择</option>-->
                        </select>&nbsp;&nbsp;月&nbsp;&nbsp;--&nbsp;&nbsp;
                        <select ng-model="$parent.emonth" class="form-control"
                                ng-options="month for month in [] | range:$parent.smonth:maxmonth+1">
                            <!--<option value="">请选择</option>-->
                        </select>&nbsp;&nbsp;月&nbsp;&nbsp;
                    </div>
                    <button ng-if="choseyear != 2016 && (type=='city'||type=='county')" class="btn btn-default" ng-click="open('lg');">
                        <i class="fa fa-plus-square"></i>添加区划
                    </button>
                    <a ng-if="selectedNum!=null" popover-animation="true" uib-popover="{{selection|toggle}}"
                       popover-trigger="mouseenter" popover-placement="right"
                       popover-title="选择地市">{{selectedNum}}选择项</a>
                    <i class="fa fa-times-circle-o" ng-if="selectedNum!=null" ng-click="clearParam();"></i>
                    <div ng-if=" (type=='all'||type=='county') && choseyear != 2016" class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="chk" ng-click="check(chk)">不含非行政区划
                        </label>
                    </div>
                    <button class="btn btn-default pull-right" ng-click="queryByParam();">查询</button>
                </form>
            </div>
            <div class="col-md-3 rate-padding">
                <div class="blue-border">
                    <h3>进驻事项<span class="label label-success">{{survey.sxzs}}</span></h3>
                    <h5>
                        <small>行政审批 | 公共服务</small>
                    </h5>
                    <h4>
                        {{survey.xzsp}} | {{survey.shfw}}
                    </h4>
                </div>
            </div>
            <div class="col-md-3 rate-padding">
                <div class="blue-border">
                    <h3>进驻部门<span class="label label-primary">{{survey.jzbm}}</span></h3>
                    <h5>
                        <small><i class="fa fa-info-circle"></i>进驻部门只包含已发布部门</small>
                    </h5>
                    <h5>
                        <small><i class="fa fa-bullhorn"></i>全省进驻部门数包含省级、地市和区县</small>
                    </h5>
                </div>
            </div>
            <div class="col-md-3 rate-padding">
                <div class="blue-border">
                    <h3>办结总量<span class="label label-info">{{survey.bjzs}}</span></h3>
                    <h5>
                        <small>行政审批 | 公共服务</small>
                    </h5>
                    <h4>
                        {{survey.zxzsp}} | {{survey.zshfw}}
                    </h4>
                </div>
            </div>
            <div class="col-md-3 rate-padding">
                <div class="blue-border">
                    <h3>网上办结<span class="label label-info">{{survey.sbyw}}</span></h3>
                    <h5>
                        <small>行政审批 | 公共服务</small>
                    </h5>
                    <h4>
                        {{survey.swxzsp}} | {{survey.swshfw}}
                    </h4>
                </div>
            </div>
            <div class="col-md-6 t_chart">
                <div style="text-align: center;font-size: 16px;font-family: 'Microsoft YaHei';margin-bottom: 10px">三率一数</div>
                <div class="container-fluid rs-12">
                    <div class="row rs-12">
                        <div class="col-md-6 rs-12">
                            <div class="rs-4">
                                <a class="button button-action button-small" style="padding: 0 10px;">网上全流程办理率</a>
                                <span style="margin-right: 0px;margin-left: 25px;font-size: 20px;">{{wsqlcblv|number:2}}%</span>
                            </div>
                            <div class="rs-4">
                                <a class="button button-action button-small">上网办理率</a>
                                <span style="margin-right: 0px;margin-left: 25px;font-size: 20px;">{{swblv|number:2}}%</span>
                            </div>
                            <div class="rs-4">
                                <a class="button button-action button-small">网上办结率</a>
                                <span style="margin-right: 0px;margin-left: 25px;font-size: 20px;">{{wsbjl|number:2}}%</span>
                            </div>
                        </div>
                        <div class="col-md-6 rs-10">
                            <highchart config="pieConfig" class="rs-12"></highchart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="text-align: center;font-size: 16px;font-family: 'Microsoft YaHei';margin-bottom: 20px">
                    <span ng-if="type == 'all'">全省办结业务量排名</span>
                    <span ng-if="type == 'province'">省级办结业务量排名</span>
                    <span ng-if="type == 'city'">地市办结业务量排名</span>
                    <span ng-if="type == 'county'">区县办结业务量排名</span>
                </div>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th class="align-left" ng-if="type == 'all'">事项名称</th>
                        <th class="align-left" ng-if="type == 'province'">省级部门</th>
                        <th class="align-left" ng-if="type == 'city'">地市</th>
                        <th class="align-left" ng-if="type == 'county'">区县</th>
                        <th class="align-center">办结业务量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="3">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="3">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in vm.items|filter:vm.filter|paging:vm.page.index:vm.page.size">
                        <td>{{item.index}}</td>
                        <!--<td ng-if="type == 'province' || type == 'city'" class="align-left">
                            <a ng-click="goDetail(item);" class="ng-binding ng-scope">{{item.name}}</a>
                        </td>
                        <td ng-if="type != 'province' && type != 'city'" class="align-left">{{item.name}}</td>-->
                        <td class="align-left"><span uib-tooltip="{{item.name}}">{{item.name|strCutNum:20}}</span></td>
                        <td>{{item.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-1">
                        <!--<select ng-model="vm.page.size" class="form-control" title="每页条目数"
                                ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>-->
                    </div>
                    <div class="col-md-11">
                        <uib-pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index"
                                        max-size="5"
                                        items-per-page="vm.page.size" class="pagination-sm pull-right"
                                        boundary-links="true"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;"></uib-pagination>
                        <span class="list-nav-num pull-right form-group">共有{{vm.items|filter:vm.filter|size}}条，每页显示：{{vm.page.size}}条</span>
                    </div>
                </div>
            </div>
            <!--以下为柱状图，显示近3个月的网上办结业务量和总业务量。目前被业务量排名替换掉了-->
            <!--<div class="col-md-6 t_chart">
                <highchart config="chartConfig" style="height: 100%;"></highchart>
            </div>-->
        </div>
    </div>
</section>

