<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- 自动扫描bean -->
    <context:component-scan base-package="com.h3c.bigdata.dms.service.impl,com.h3c.bigdata.dms.security" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

    <!--扫描切面类注解 l13595 2017/1/12 9:27-->
    <context:component-scan base-package="com.h3c.bigdata.dms.security"></context:component-scan>
    <!-- 让aspectJ的注解起作用  l13595 2017/1/12 9:27-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!-- 定义REST客户端工具对象 -->
    <bean id="requestFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory">
        <property name="readTimeout" value="30000" />
        <property name="connectTimeout" value="10000" />
    </bean>
    <bean id="simpleRestTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="requestFactory" />
    </bean>

    <!--引入其他context文件 -->
    <!--引入mybatis相关context文件 -->
    <import resource="classpath:spring/spring-mybatis.xml" />

    <!--引入spring security相关文件  -->
    <!--<import resource="classpath:spring/spring-security.xml" />-->
    <import resource="classpath:spring/spring-securitys.xml" /><!--添加验证码-->

    <!--引入spring aop相关文件  -->
    <import resource="classpath:spring/spring-aop.xml" />
</beans>