<section class="content-header">
    <ol class="breadcrumb">
        <li style="cursor: pointer" ng-click="goBack()"><i class="fa fa-dashboard"></i>指标动态配置</li>
        <li class="active">计算公式</li>
    </ol>
    <div class="btn-group">
        <a class="btn btn-default" aria-hidden="true" data-toggle="modal" data-target="#addParam">新增</a>
    </div>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h4><b>参数预设</b></h4><br/>
                <div ng-repeat="item in items">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>{{item.csmc}}</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="rate" ng-model="item.value">
                        </div>
                        <button class="btn btn-default" aria-hidden="true" data-toggle="modal" data-target="#delParamModal" ng-click="getDelRate(item.id,item.csmc)">删除</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <h4><b>公式编辑</b></h4><br/>
                <p>
                    <button type="button" class="btn btn-default" ng-click="insertText('+')">+</button>
                    <button type="button" class="btn btn-default" ng-click="insertText('-')">-</button>
                    <button type="button" class="btn btn-default" ng-click="insertText('*')">*</button>
                    <button type="button" class="btn btn-default" ng-click="insertText('/')">/</button>
                    <button type="button" class="btn btn-default" ng-click="insertText('(')">(</button>
                    <button type="button" class="btn btn-default" ng-click="insertText(')')">)</button>
                    <button ng-repeat='item in items' style="margin-right: 4px;" type="button" class="btn btn-default" ng-click="insertText(item.csmc)">{{item.csmc}}</button>
                </p>
                <br/><br/><br/>
                <form>
                    <div class="form-group">
                        <label>计算公式</label>
                        <input type="text" id="CalFormula" class="form-control" ng-model="calFormula">
                    </div>
                    <div class="form-group">
                        <label>计算结果</label>
                        <input type="text" class="form-control" ng-model="calFormulaResult">
                    </div>
                </form>
                <br/><br/>
                <button class="btn btn-default" ng-click="clearCalFormula()">清空</button>
                <button class="btn btn-default" ng-click="saveCalFormula()">保存</button>
                <button class="btn btn-default" ng-click="changeRate()">计算</button>
            </div>
            <div class="modal fade" id="addParam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="addParamForm" class="form-group">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label">参数名称</label>
                                    <span style="color:red">*</span>
                                    <select class="form-control" ng-model="addParamValue" required>
                                        <option ng-repeat="param in params" value={{param.id}}>{{param.csmc}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="closeAddParamModal()">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="addParam()" ng-disabled="addParamForm.$invalid">确定</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="modal fade" id="delParamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form role="form">
                                <nobr><label class="control-label">确定删除参数<span style="color: blue">{{delRateName}}</span>？</label></nobr>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="delRate()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</section>