<section class="content-header">
    <ol class="breadcrumb">
        <li style="cursor: pointer" ng-click="goBack()"><i class="fa fa-dashboard"></i>主题库分析</li>
        <li class="active">查看主题库</li>
    </ol>
    <div class="btn-group">
        <a class="btn btn-default" aria-hidden="true" data-toggle="modal" data-target="#addTheme">新建主题</a>
    </div>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="width:25%">
                    <input type="text" class="form-control" style="width: 100%" placeholder="输入查询内容" ng-model="vm.filter">
                </div>

                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>主题名</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="5">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="5">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in vm.items|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">
                        <td>{{item.index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.user_name}}</td>
                        <td>{{item.ctime}}</td>
                        <td>
                            <i class="btn fa fa-eye" ng-click="showThemeContent(item.name,item.content)" data-toggle="tooltip" data-placement="top" title="查看主题内容"></i>
                            <i data-toggle="tooltip" data-placement="top" title="编辑数据"><i class="btn fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#editTheme" ng-click="getEditTheme(item.id,item.name,item.content)"></i></i>
                            <i data-toggle="tooltip" data-placement="top" title="删除数据"><i class="btn fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#delThemeModal" ng-click="getDelTheme(item.id,item.name)"></i></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="addTheme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="addThemeForm" class="form-group">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label">主题名称</label>
                                    <span style="color:red">*</span>
                                    <input type="text" class="form-control" name="addTheme" ng-exists="addThemeName" ng-model="addThemeName" ng-maxlength="100" required>
                                    <p ng-show="addThemeForm.addTheme.$error.exists && addThemeForm.addTheme.$dirty" class="help-block" style="color: red">主题已存在.</p>
                                    <p ng-show="addThemeForm.addTheme.$error.maxlength && addThemeForm.addTheme.$dirty" style="color:red" class="help-block">主题名称最长为100字符</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">内容</label>
                                    <span style="color:red">*</span>
                                    <textarea id="themeDesc" name="themeDesc" class="form-control" rows="6" placeholder="描述"  ng-model="themeDes" ng-maxlength="500" required></textarea>
                                    <p ng-show="addThemeForm.themeDesc.$error.maxlength && addThemeForm.themeDesc.$dirty" style="color:red" class="help-block">主题内容最长为500字符</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="closeAddThemeModal()">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="addTheme()" ng-disabled="addThemeForm.$invalid">确定</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="modal fade" id="delThemeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form role="form">
                                <nobr><label class="control-label">删除主题<span id="delThemeName" style="color: blue">{{delThemeName}}</span>？</label></nobr>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="delTheme()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="modal fade" id="editTheme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="editThemeForm" class="form-group">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label">主题库名称</label>
                                    <span style="color:red">*</span>
                                    <input type="text" class="form-control" id="name" name="editThemeName" ng-model="editThemeName" ng-maxlength="100" required>
                                    <p ng-show="editThemeForm.editThemeName.$error.maxlength && editThemeForm.editThemeName.$dirty" style="color:red" class="help-block">主题名最长为100字符</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">内容</label>
                                    <span style="color:red">*</span>
                                    <textarea id="editThemeDesc" name="editThemeDesc" class="form-control" rows="6" placeholder="描述"  ng-model="editThemeContent" ng-maxlength="500" required></textarea>
                                    <p ng-show="editThemeForm.editThemeDesc.$error.maxlength && editThemeForm.editThemeDesc.$dirty" style="color:red" class="help-block">主题内容最长为500字符</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="editTheme()" ng-disabled="editThemeForm.$invalid">确定</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数"
                        ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|filter:vm.filter|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>
        </div>
    </div>
</section>