<section class="content-header">
    <ol class="breadcrumb">
        <li style="cursor: pointer" ng-click="goBack()"><i class="fa fa-dashboard"></i>查看主题库</li>
        <li class="active">主题内容</li>
    </ol>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>{{themeName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left" style="padding-top: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;{{themeContent}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>