<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 数据质量检测</li>
        <li class="active">业务总量对账</li>
    </ol>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <div><strong>业务量统计维度<i class="fa fa-info-circle"></i>:</strong></div>
                    <div>
                        1、所选日期为同一年：统计数据即所选日期年份的1月1日至所选日期的累积业务量<br>
                        2、所选日期存在跨年：统计数据即起始日期年份的1月1日至所选日期的累积业务量
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <form class="form-inline" role="form" style="margin-top: 10px">
                    起始日期：
                    <div class="form-group input-append date form_datetime" id="dateNo1Ctrl">
                        <input id="dateNo1" size="15" type="text" value={{dateNo1}} readonly style="text-align: center">
                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                    截止日期：
                    <div class="form-group input-append date form_datetime" id="dateNo2Ctrl">
                        <input id="dateNo2" size="15" type="text" value={{dateNo2}} readonly style="text-align: center">
                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>
                    &nbsp;&nbsp;
                    <button class="btn btn-default " ng-click="togglePerspective();" style="margin-left: 10px">查询</button>
                </form>

            </div>

            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>业务量<span class="label label-primary">{{v1}}</span></h3>
                    <h5>
                        <small>起始日期{{versionDateNo1}}</small>
                    </h5>
                    <!--<h4>
                        {{startTimejzsxs.xzsp}} | {{startTimejzsxs.shfw}}
                    </h4>-->
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>业务量<span class="label label-success">{{v2}}</span></h3>
                    <h5>
                        <small>截止日期{{versionDateNo2}}</small>
                    </h5>
                    <!--<h4>
                        {{endTimejzsxs.xzsp}} | {{endTimejzsxs.shfw}}
                    </h4>-->
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>业务增量<span class="label label-info">{{v2-v1}}</span></h3>
                    <h5>
                        <small>{{versionDateNo1}}至{{versionDateNo2}}的业务增量</small>
                    </h5>
                    <!--<h4>
                        {{vm.items|filter:comEndTime|size}} | {{vm.items|filter:comStartTime|size}}
                    </h4>-->
                </div>
            </div>
        </div>
    </div>
</section>