<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dels.dao.PlanMapper">

    <resultMap id="resultPlan" type="com.dels.model.sys.PlanInfo">
        <result property="userName" column="user_name" />
        <result property="createTime" column="create_time"/>
    </resultMap>
    <parameterMap id="paraPlan" type="com.dels.model.sys.PlanInfo">
    </parameterMap>



    <select id="getPlanList" resultType="java.util.Map">
        SELECT
            ID,
            name,
            user_name,
            create_time,
            descr
        FROM  dms_plan
        ORDER  BY create_time DESC
    </select>

    <select id="getPlanInfoList" parameterType="String" resultType="java.util.Map">
        SELECT
            ID,
            col_name,
            name,
            pass_level,
            color,
            plan_id
        FROM dms_plan_info
        WHERE	plan_id = #{planId}
        ORDER  BY  ID
    </select>

    <insert id="insertPlan" parameterMap="paraPlan">
        INSERT INTO dms_plan (ID, name, user_name, descr,state)
        VALUES(
                #{id},
                #{name},
                #{userName},
                #{descr},
                '1'
        )
    </insert>

    <insert id="insertPlanInfo" parameterMap="paraPlan">
        INSERT INTO dms_plan_info(id,col_name,name,pass_level,color,plan_id)
        VALUES(
                #{id},
                #{colName},
                #{commentName},
                #{passLevel},
                #{color},
                #{planId}
        )
    </insert>

    <delete id="deletePlan" parameterType="String" >
        DELETE FROM dms_plan WHERE id=#{id}
    </delete>

    <delete id="deletePlanInfo" parameterType="String">
        DELETE FROM dms_plan_info where id=#{id}
    </delete>

    <delete id="deletePlanInfoByPlanId" parameterType="String">
      DELETE FROM dms_plan_info where plan_id=#{planId}
    </delete>

    <update id="editPlan" parameterMap="paraPlan">
        UPDATE dms_plan
        SET name = #{name}
         ,descr = #{descr}
         <if test="null!=state" >
             ,state = #{state}
         </if>
        WHERE
            id = #{id}
    </update>

    <update id="editPlanInfo" parameterMap="paraPlan">
        UPDATE dms_plan_info
        SET pass_level = #{passLevel}
        <if test="color!=null">
            ,color = 'color'
        </if>
        WHERE
            id = #{id}
    </update>

    <select id="getPlan" parameterType="String" resultType="java.util.Map">
        SELECT
            col_name as "colName",
            pass_level as "passLevel"
        FROM
            dms_plan_info P
        WHERE
            P .plan_id = ( SELECT ID  FROM  dms_plan WHERE NAME=#{name} )
    </select>

    <select id="getPlanByName" parameterType="String" resultType="String">
        SELECT ID  FROM  dms_plan WHERE NAME=#{name}
    </select>

</mapper>