<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dels.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.dels.model.sys.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="descr" property="descr" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="cdate" property="cdate" jdbcType="TIMESTAMP"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uname, passwd, email, descr, status, cdate, department
    </sql>
    <select id="selectByUserName" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from dms_user
        where uname = #{uname,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserPhone" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dms_user
        where  phone_number=#{phone}
    </select>

</mapper>