<section class="content-header">
    <ol class="breadcrumb">
        <li ng-click="addAreaBack()" style="cursor: pointer"><a><i class="fa fa-dashboard"></i>基本数据管理</a></li>
        <li><a><i class="fa fa-dashboard"></i>增加区县</a></li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal" name="areaAdd" role="form" style="position: relative;top: 20px;width: 800px;left: 10px;">
        <div class="form-group" ng-class="{ 'has-error' : areaAdd.XZQHDM.$invalid && areaAdd.XZQHDM.$dirty}">
            <label class="col-sm-2 col-md-offset-2 control-label">行政区划代码</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-exists="XZQHDM" name="XZQHDM" ng-model="addXZQHDM" ng-pattern="/^\d{6}$/" required>
                <p ng-show="areaAdd.XZQHDM.$error.exists && areaAdd.XZQHDM.$dirty" class="help-block">该行政区划代码已存在</p>
                <p ng-show="areaAdd.XZQHDM.$error.pattern && areaAdd.XZQHDM.$dirty" style="color:red" class="help-block">区划代码为6位数字</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-offset-2 control-label">市级名称</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <select ng-model="addAreaCity" class="form-control" required>
                    <option ng-repeat="item in vm.items" value={{item}}>{{item.SJMC}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="describe" class="col-sm-2 col-md-offset-2 control-label">区域名称</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="describe" name="describe" ng-model="addAreaName" ng-maxlength="100" required>
                <p ng-show="areaAdd.describe.$error.maxlength && areaAdd.describe.$dirty" style="color:red" class="help-block">区域名称最长为100字符</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-offset-2 control-label">区域划分</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <select ng-model="addAreaDivide" class="form-control" required>
                    <option ng-repeat="area in areaDivide" value="{{area}}">{{area}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-offset-2 control-label">是否行政区划</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <select ng-model="addAdDiv" class="form-control" required>
                    <option ng-repeat="x in adDiv" value="{{x}}">{{x}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-1">
                <button type="submit" class="btn btn-default" ng-click="addArea();" ng-disabled="areaAdd.$invalid">增加</button>
            </div>
            <div class="col-sm-offset-1 col-sm-1">
                <button type="button" class="btn btn-default" ng-click="addAreaBack();">取消</button>
            </div>
        </div>
    </form>
</section>