<section class="content-header">
    <ol class="breadcrumb">
        <li ng-click="goBack()" style="cursor: pointer"><a><i class="fa fa-dashboard"></i>角色管理</a></li>
        <li class="active">增加角色</li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal" name="addRoleForm" role="form" style="position: relative;top: 20px;">
        <div class="form-group">
            <label class="col-sm-1 col-md-offset-2 control-label">角色名称</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-exists="addRoleName" name="roleName" ng-model="role_name" ng-maxlength="100" required>
                <p ng-show="addRoleForm.roleName.$error.exists && addRoleForm.roleName.$dirty" class="help-block" style="color: red">角色名已存在.</p>
                <p ng-show="addRoleForm.roleName.$error.maxlength && addRoleForm.roleName.$dirty" style="color:red" class="help-block">角色名最大长度100字符</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 col-md-offset-2 control-label">角色权限</label>
            <div class="panel panel-default" style="height:100%;overflow:auto;left: 1%;position:relative;width:56%;">
                <!--<table border="1">
                    <div class="panel-body">-->
                        <ul id="jurisdictionTree" class="ztree"></ul>
                    <!--</div>
                </table>-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-1">
                <button type="submit" class="btn btn-default" ng-click="submitData()" ng-disabled="addRoleForm.$invalid">保存</button>
            </div>
            <div class="col-sm-offset-1 col-sm-1">
                <button type="button" class="btn btn-default" ng-click="goBack()">取消</button>
            </div>
        </div>
    </form>
</section>