<section class="content-header">
    <ol class="breadcrumb">
        <li ng-click="addUserBack()" style="cursor: pointer"><a><i class="fa fa-dashboard"></i>用户管理</a></li>
        <li class="active">增加用户</li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal" name="userAdd" role="form" style="position: relative;top: 20px;width: 800px;left: 10px;">
        <div class="form-group" ng-class="{ 'has-error' : userAdd.uname.$invalid && userAdd.uname.$dirty}">
            <label for="name" class="col-sm-2 col-md-offset-2 control-label">用户名</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-exists="uname" name="uname" ng-pattern="/^[a-zA-Z_\s]*$/" id="name" ng-model="addUserName" ng-maxlength="50" required>
                <p ng-show="userAdd.uname.$error.exists && userAdd.uname.$dirty" class="help-block">用户名已存在</p>
                <p ng-show="userAdd.uname.$error.pattern && userAdd.uname.$dirty" class="help-block">用户名只限英文和下划线</p>
                <p ng-show="userAdd.uname.$error.maxlength && userAdd.uname.$dirty" class="help-block">用户名最多50位</p>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 col-md-offset-2 control-label">角色</label>-->
            <!--<span style="color:red">*</span>-->
            <!--<div class="col-sm-7">-->
                <!--<select ng-model="addUserRole" class="form-control" required ng-change="addRole()">-->
                    <!--<option ng-repeat="x in roles" value="{{x.id}}">{{x.rol_name}}</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div ng-if="addUserRole=='2'">  <!-- 限制只有分析师角色可以选择机构类型 l13595 2017/3/6 16:38  -->
            <div class="form-group">
                <label class="col-sm-2 col-md-offset-2 control-label">机构类型</label>
                <div class="col-md-3 col-md-offset-1">
                    <input name="city" type="radio" ng-click="cityShow()" checked/>地市
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <input name="city" type="radio" ng-click="depShow()" />部门
                </div>
            </div>
            <div class="form-group" id="cityShow">
                <label class="col-sm-2 col-md-offset-2 control-label">机构名称</label>
                <span style="color:red">*</span>
                <div class="col-sm-7">
                    <select id="addUserCityOrDepa" panelheight="auto" ng-model="addUserCityOrDep" ng-options="organ for organ in CityOrDep" class="form-control" required></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-offset-2 control-label">手机号</label>
            <div class="col-sm-7">
                <input type="text" name="phoneNumer" class="form-control" ng-pattern="/^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,2,3,5-9]))\\d{8}$/" ng-model="phoneNumer" ng-minlength="11" ng-maxlength="11">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 col-md-offset-2 control-label">邮箱</label>
            <div class="col-sm-7">
                <input type="email" name="addUserEmail" class="form-control" id="inputEmail" ng-model="addUserEmail">
                <span ng-show="userAdd.addUserEmail.$error.email" style="color: red">非法的邮箱。</span>
            </div>
        </div>
        <div class="form-group">
            <label for="describe" class="col-sm-2 col-md-offset-2 control-label">备注</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="describe" name="describe" ng-model="addUserDesc" ng-maxlength="255">
                <p ng-show="userAdd.describe.$error.maxlength && userAdd.describe.$dirty" style="color: red">备注最多255位</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userPassword" class="col-sm-2 col-md-offset-2 control-label" >密码</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="userPassword" name="password" ng-minlength="8" ng-maxlength="50" ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9])(?=.*?[_\-@&=!#$%^*])[a-zA-Z0-9_\-@&=!#$%^*]+$/" ng-model="addUserPass" required>
                <p ng-show="userAdd.password.$error.minlength && userAdd.password.$dirty" style="color:red" class="help-block">密码最少8位</p>
                <p ng-show="userAdd.password.$error.pattern && userAdd.password.$dirty" style="color:red" class="help-block">密码要包含字母,数字和特殊字符_\-@&=!#$%^*</p>
                <p ng-show="userAdd.password.$error.maxlength && userAdd.password.$dirty" style="color:red" class="help-block">密码最多50位</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userAdd.confirmPassword.$invalid && userAdd.confirmPassword.$dirty}">
            <label class="col-sm-2 col-md-offset-2 control-label" >确认密码</label>
            <span style="color:red">*</span>
            <div class="col-sm-7">
                <input ng-model="user.confirmpwd" required type="password" autocomplete="off" ng-compare="password" class="form-control" name="confirmPassword" required>
                <p ng-show="!userAdd.confirmPassword.$error.required && userAdd.confirmPassword.$error.compare && userAdd.confirmPassword.$dirty" class="help-block">密码不相同.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-1">
                <button type="submit" class="btn btn-default" ng-click="addUser();" ng-disabled="userAdd.$invalid">增加</button>
            </div>
            <div class="col-sm-offset-1 col-sm-1">
                <button type="button" class="btn btn-default" ng-click="addUserBack()">取消</button>
            </div>
        </div>
    </form>
</section>