<section class="content-header">
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i>系统管理</a></li>
        <li class="active">基本数据管理</li>
    </ol>
    <!--<div class="btn-group">
        <a class="btn btn-default" ng-click="addAreaBtn()">新增</a>
    </div>-->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" style="width: 25%" placeholder="输入查询内容" ng-model="selectContent">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>行政区划代码</th>
                        <th datatype="rol_depart" style="cursor:pointer">市级名称</th>
                        <th datatype="descr" style="cursor:pointer">区域名称</th>
                        <th datatype="descr" style="cursor:pointer">市直部门</th>
                        <th datatype="descr" style="cursor:pointer">区划名称</th>
                        <th datatype="descr" style="cursor:pointer">是否行政区划</th>
                        <!--<th>操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="7">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="7">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in vm.items|orderBy:col:desc|filter:vm.filter|filter:selectContent|paging:vm.page.index:vm.page.size ">
                        <td>{{item.XZQHDM}}</td>
                        <td>{{item.SJMC}}</td>
                        <td>{{item.QYMC}}</td>
                        <td>{{item.QYJBMC}}</td>
                        <td>{{item.qybs}}</td>
                        <td>{{item.qxsx}}</td>
                        <!--<td>
                            <i data-toggle="tooltip" data-placement="top" title="编辑数据"><i class="btn fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#modRegionPage" XZQHDM={{item.XZQHDM}} XZQHQC={{item.XZQHQC}} qybs={{item.qybs}} qxsx={{item.qxsx}} qymc={{item.QYMC}} ng-click="getArea(item.QYMC)"></i></i>
                            <i data-toggle="tooltip" data-placement="top" title="删除数据"><i class="btn fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#delAreaModal" ng-click="delAreaName(item.XZQHQC,item.XZQHDM)"></i></i>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="modRegionPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h6 class="modal-title" id="myModalLabel">
                                <nobr><label class="control-label">修改    <span id="GRegion" style="color: blue"></span>    的区域划分</label></nobr>
                            </h6>
                        </div>
                        <form role="form" name="modRegionForm">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label">区划名称</label>
                                        <select class="form-control" ng-model="modBaseDateRegion" id="modGRegion">
                                            <option>珠三角</option>
                                            <option>粤东西北</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">是否行政区划</label>
                                    <select class="form-control" ng-model="modDeveAreaModel" id="modDeveArea">
                                        <option>行政区划</option>
                                        <option>非行政区划</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">区域名称</label>
                                    <input type="text" class="form-control" id="modAreaName" name="modAreaName" ng-model="modAreaNameModel" ng-maxlength="100" required>
                                    <p ng-show="modRegionForm.modAreaName.$error.maxlength && modRegionForm.modAreaName.$dirty" style="color:red" class="help-block">区域名称最长为100字符</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="modGRegionByXZQHDM()" ng-disabled="modRegionForm.$invalid">
                                    提交更改
                                </button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="modal fade" id="delAreaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form role="form">
                                <nobr><label class="control-label">确定删除区域<span style="color: blue">{{delAreaXZQHQC}}</span>？</label></nobr>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="delArea()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数" ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|filter:selectContent|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|filter:selectContent|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>
        </div>
    </div>
</section>