<section class="content-header">
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i>系统管理</a></li>
        <li class="active">系统监控</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 rate-padding" style="cursor: pointer">
                <div class="blue-border" ng-click="showOnlineUsers()">
                    <h3>在线用户数<span class="label label-success">{{vm.items.userNum}}</span></h3>
                </div>
            </div>
            <div class="col-md-6 rate-padding" style="cursor: pointer">
                <div class="blue-border" ng-click="showThreadNum()">
                    <h3>线程数<span class="label label-success">{{vm.items.threadNum}}</span></h3>
                </div>
            </div>
            <div class="col-md-12 t_chart">
                <highchart id="CPUChart" config="CPUChartConfig" style="height: 8cm;margin-top: 10px;"></highchart>
            </div>
            <div class="col-md-3 col-md-offset-5" style="margin-top: 20px;">
                <h2>系统运行正常</h2>
            </div>
        </div>
    </div>
</section>



