<section class="content-header">
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i>系统管理</a></li>
        <li class="active">安全审计</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <br><br>
                <div class="alert alert-warning" role="alert">
                    <div><strong>说明<i class="fa fa-info-circle"></i>:</strong></div>
                    <div>
                        安全审计（只针对某一个角色进行系统错误登录信息的提示）<br>
                        角色：能收到安全登录错误提示的角色<br>
                        安全登录次数：监控登录用户的安全登录次数(即登录用户登录的时候输入错误次数不超过安全登录次数都算是安全登录)。
                                    如果用户登陆错误次数超过安全登陆次数，则该账号禁止登录
                    </div>
                </div>
            </div>
            <form class="form-horizontal" name="editAudit" role="form" style="position: relative;top: 20px;width: 800px;left: 10px;">
                <div class="form-group">
                    <label class="col-sm-2 col-md-offset-2 control-label">角色</label>
                    <span style="color:red">*</span>
                    <div class="col-sm-7">
                        <select ng-model="selectedRole" class="form-control" required>
                            <option ng-repeat="x in roles" value="{{x.id}}">{{x.rol_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-offset-2 control-label">安全登录次数</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="securityTime" ng-maxlength="1000" name="securityTime" ng-pattern="/^[1-9]\d*$/">
                        <p ng-show="editAudit.securityTime.$error.pattern && editAudit.securityTime.$dirty" style="color:red" class="help-block">只允许输入正整数</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-1">
                        <button type="submit" class="btn btn-default" ng-click="modSecurityTime();" ng-disabled="editAudit.$invalid">确定修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



