<div class="input-group">
    <input type="text" class="form-control" ng-model="content"
           placeholder="输入id就好..."> <span class="input-group-btn">
		<button class="btn btn-default" ng-click="search()" type="button">Go!</button>
	</span>
</div>
<div class="con">
    <div class="info"><span class="floor">#1</span><a href="" class="user-name">松野轻松痴汉协会</a></div>
    <div class="reply">就是这种感觉!太棒了！卡米尔亲情向好评！</div>
</div>
<div class="con">
    <div class="info"><span class="floor">#1</span><a href="" class="user-name">松野轻松痴汉协会</a></div>
    <div class="reply">就是这种感觉!太棒了！卡米尔亲情向好评！</div>
</div>
<div class="con">
    <div class="info"><span class="floor">#1</span><a href="" class="user-name">松野轻松痴汉协会</a></div>
    <div class="reply">就是这种感觉!太棒了！卡米尔亲情向好评！</div>
</div>
<div class="con">
    <div class="info"><span class="floor">#1</span><a href="" class="user-name">松野轻松痴汉协会</a></div>
    <div class="reply">就是这种感觉!太棒了！卡米尔亲情向好评！</div>
</div>
<div class="con">
    <div class="info"><span class="floor">#1</span><a href="" class="user-name">松野轻松痴汉协会</a></div>
    <div class="reply">就是这种感觉!太棒了！卡米尔亲情向好评！</div>
</div>

