<div class="input-group">
    <input type="text" class="form-control c-ipt" ng-model="content" maxlength="8"
           placeholder="输入id就好..."> <span class="input-group-btn">
		<button class="btn btn-default c-btn" ng-disabled="query" ng-click="search()" type="button">
                <i ng-if="query" class="fa fa-spinner fa-spin fa-x fa-fw"></i>
                <span ng-if="!query">Go!</span>
        </button>
	</span>
</div>
<div class="nodata" ng-if="vm.items.length == 0">
    <span>没有找到评论...</span>
</div>
<div ng-if="vm.items.length > 0" class="con" ng-repeat="item in vm.items">
    <div class="info">
        <span class="floor">#{{item.layer}}</span>
        <a  class="user-name">{{item.username}}</a>
        <span class="time">{{item.checktime}}</span>
    </div>
    <div class="reply">{{item.content}}</div>
</div>

