<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>数据指标体系</li>
        <li class="active">预处理配置</li>
    </ol>
    <div class="btn-group">
        <a class="btn btn-default" ng-click="addDataPretRole()">新增规则</a>
        <a class="btn btn-default" ng-click="goGroup()">分组管理</a>
    </div>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="width:25%">
                    <input type="text" class="form-control" style="width: 100%" placeholder="输入查询内容" ng-model="vm.filter">
                </div>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>规则名称</th>
                        <th>分组</th>
                        <th>创建用户</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="6">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="6">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in vm.items|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">
                        <td>{{item.index}}</td>
                        <td>{{item.rname}}</td>
                        <td>{{item.group_name}}</td>
                        <td>{{item.cuser}}</td>
                        <td>{{item.ctime}}</td>
                        <td>
                            <i class="btn fa fa-eye" ng-click="showRuleContent(item.rname,item.rcontent)" data-toggle="tooltip" data-placement="top" title="查看规则内容"></i>
                            <i data-toggle="tooltip" data-placement="top" title="编辑数据"><i class="btn fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#editRule" ng-click="getEditRule(item.id,item.rname,item.rcontent,item.group_id)"></i></i>
                            <i data-toggle="tooltip" data-placement="top" title="删除数据"><i class="btn fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#delRuleModal" ng-click="getDelRule(item.id,item.rname)"></i></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="delRuleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form role="form">
                                <nobr><label class="control-label">删除规则<span id="delRuleName" style="color: blue">{{delRuleName}}</span>？</label></nobr>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="delRule()">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="modal fade" id="editRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="addGroupForm" class="form-group">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label">规则名称</label>
                                    <span style="color:red">*</span>
                                    <input type="text" class="form-control" name="editRuleName" id="name" ng-model="editRuleName" ng-maxlength="50" required>
                                    <p ng-show="addGroupForm.editRuleName.$error.maxlength && addGroupForm.editRuleName.$dirty" style="color:red" class="help-block">规则名称最长为50字符串</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">分组</label>
                                    <span style="color:red">*</span>
                                    <select ng-model="editRuleGroupId" class="form-control" required>
                                        <option ng-repeat="x in rules" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">规则内容</label>
                                    <span style="color:red">*</span>
                                    <textarea id="planDesc" name="planDesc" class="form-control" rows="6" placeholder="描述"  ng-model="editRuleContent" ng-maxlength="500" required></textarea>
                                    <p ng-show="addGroupForm.planDesc.$error.maxlength && addGroupForm.planDesc.$dirty" style="color:red" class="help-block">规则内容最长为500字符串</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="editRule()" ng-disabled="addGroupForm.$invalid">确定</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数"
                        ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|filter:vm.filter|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>
        </div>
    </div>
</section>