<section class="content-header">
    <ol class="breadcrumb">
        <li style="cursor: pointer" ng-click="goBack()"><i class="fa fa-dashboard"></i>预处理规则</li>
        <li class="active">规则内容</li>
    </ol>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>{{ruleName}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left" style="padding-top: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;{{ruleContent}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>