<section class="content-header">
    <h1>{{name}}异常办结</h1>
    <ol class="breadcrumb">
        <li ng-click="goParent()"><a href=""><i class="fa fa-dashboard"></i>业务办理统计</a></li>
        <li class="active">{{name}}异常办结</li>
    </ol>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline ng-pristine ng-valid" role="form">
                    <div class="form-group pull-left">
                        <input type="text" class="form-control" placeholder="输入查询内容" ng-model="vm.filter">
                    </div>
                    &nbsp;&nbsp;图表类型&nbsp;&nbsp;
                    <select ng-model="tabType" ng-change="changeTab()" class="form-control" ng-options="tabtype for tabtype in ['柱状图','饼状图','全部']"></select>
                </form>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>申办流水号</th>
                        <th>事项编码</th>
                        <th>组织机构代码</th>
                        <th>办结结果代码</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="6">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="6">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in vm.items |filter:vm.filter|paging:vm.page.index:vm.page.size">
                        <td>{{item.index}}</td>
                        <td>{{item.sblsh}}</td>
                        <td>{{item.sxbm}}</td>
                        <!--<td class="align-left"><span uib-tooltip="{{item.sxmc}}">{{item.sxbm|strCut}}</span></td>-->
                        <td>{{item.zzjgdm}}</td>
                        <td>{{item.bjjgdm}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数"
                        ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|filter:vm.filter|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>

            <div ng-if="tabType == '全部'" class="col-md-6" style="margin-top:50px;height: 300px;">
                <highchart config="pieConfig" class="rs-12"></highchart>
            </div>
            <div ng-if="tabType == '全部'" class="col-md-6" style="margin-top:50px;height: 300px;">
                <highchart config="barConfig" class="rs-12"></highchart>
            </div>

            <div ng-if="tabType == '饼状图'" class="col-md-12" style="margin-top:50px;height: 300px;">
                <highchart config="pieConfig" class="rs-12"></highchart>
            </div>
            <div ng-if="tabType == '柱状图'" class="col-md-12" style="margin-top:50px;height: 300px;">
                <highchart config="barConfig" class="rs-12"></highchart>
            </div>
        </div>
    </div>
</section>
