<section class="content-header">
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="togglePerspective('all')">全省</button>
        <button type="button" class="btn btn-default" ng-click="togglePerspective('province')">省级</button>
        <button type="button" class="btn btn-default" ng-click="togglePerspective('city')">地市</button>
        <button type="button" class="btn btn-default" ng-click="togglePerspective('county')">区县</button>
        <!--<button type="button" class="btn btn-default" ng-click="toggle=!toggle">自定义查询</button>-->
    </div>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 数据指标统计</li>
        <li class="active">业务量趋势图</li>
    </ol>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--<div ng-show="toggle" class="col-md-12">-->
            <div class="col-md-12">
                <form class="form-inline" role="form">
                    起始日期：
                    <div class="form-group input-append date form_datetime" id="startTimeCtrl">
                        <input id="startTime" size="15" datepicker type="text" value={{startTime}} readonly style="text-align: center">
                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                    截止日期：
                    <div class="form-group input-append date form_datetime" id="endTimeCtrl">
                        <input id="endTime" size="15" datepicker type="text" value={{endTime}} readonly style="text-align: center">
                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>
                    &nbsp;&nbsp;
                    <button ng-if="(type == 'city' || type == 'county') && rolId == 5" class="btn btn-default" ng-click="open('lg');">
                        <i class="fa fa-plus-square"></i>添加区划
                    </button>
                    <button ng-if="type == 'province' && rolId == 5" class="btn btn-default" ng-click="open('lg');">
                        <i class="fa fa-plus-square"></i>添加部门
                    </button>

                    <a ng-if="selectedNum!=null && type != 'province'" popover-animation="true" uib-popover="{{selection|toggle}}"
                       popover-trigger="mouseenter" popover-placement="right"
                       popover-title="选择地市">{{selectedNum}}选择项
                    </a>
                    <a ng-if="selectedNum!=null && type == 'province'" popover-animation="true" uib-popover="{{selection|toggle}}"
                       popover-trigger="mouseenter" popover-placement="right"
                       popover-title="选择部门">{{selectedNum}}选择项
                    </a>
                    <i class="fa fa-times-circle-o" ng-if="selectedNum!=null" ng-click="clearParam();"></i>

                    &nbsp;&nbsp;
                    <div ng-if="(type == 'all' || type == 'county') && rolId == 5" class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="chk" ng-click="check(chk)">不含非行政区划
                        </label>
                    </div>

                    <button class="btn btn-default pull-right" ng-click="queryByParam();">查询</button>
                </form>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>网上办结业务总量<span class="label label-primary" style="background-color: #00adef!important">{{swbjzs}}</span></h3>
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>行政审批<span class="label label-info" style="background-color: #ee9978!important">{{xzspswbjzs}}</span></h3>
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>公共服务<span class="label label-info" style="background-color: #60cfbb!important">{{shfwswbjzs}}</span></h3>
                </div>
            </div>
            <div class="col-md-12 t_chart" id="container">
            </div>
        </div>
    </div>
</section>

