<section class="content-header">
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="goWhere('all')">全省</button>
        <button type="button" class="btn btn-default" ng-click="goWhere('province')">省级</button>
        <button type="button" class="btn btn-default" ng-click="goWhere('city')">地市</button>
        <button type="button" class="btn btn-default" ng-click="goWhere('county')">区县</button>
        <button type="button" class="btn btn-default" ng-click="toggle=!toggle">自定义查询</button>
    </div>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 数据质量检测</li>
        <li class="active">进驻事项数据版本</li>
    </ol>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>{{startVersion}}事项数<span class="label label-primary">{{startTimejzsxs.sxzs}}</span></h3>
                    <h5>
                        <small>行政审批 / 公共服务</small>
                    </h5>
                    <h4>
                        {{startTimejzsxs.xzsp}} | {{startTimejzsxs.shfw}}
                    </h4>
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>{{endVersion}}事项数<span class="label label-success">{{endTimejzsxs.sxzs}}</span></h3>
                    <h5>
                        <small>行政审批 / 公共服务</small>
                    </h5>
                    <h4>
                        {{endTimejzsxs.xzsp}} | {{endTimejzsxs.shfw}}
                    </h4>
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>事项版本差异数<span class="label label-info">{{vm.items|size}}</span></h3>
                    <h5>
                        <small>新增 / 删除</small>
                    </h5>
                    <h4>
                        {{vm.items|filter:comEndTime|size}} | {{vm.items|filter:comStartTime|size}}
                    </h4>
                </div>
            </div>

            <div class="col-md-12">
                <form ng-show="toggle" class="form-inline" role="form" style="margin-top: 10px">
                    版本一日期：
                    <div class="form-group input-append date form_datetime">
                        <input id="startTime" size="30" datepicker type="text" value={{startTime}} readonly style="text-align: center">
                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    版本二日期：
                    <div class="form-group input-append date form_datetime">
                        <input id="endTime" size="30" datepicker type="text" value={{endTime}} readonly style="text-align: center">
                        <span class="add-on"><i class="fa fa-calendar"></i></span>
                    </div>

                    <button class="btn btn-default " ng-click="queryRefresh();" style="margin-left: 10px">查询</button>
                </form>

                <form ng-show="toggle" class="form-inline" role="form" style="margin-top: 10px">
                    <div class="form-group" style="width:30%">
                        <input type="text" class="form-control" style="width: 100%" placeholder="输入查询内容" ng-model="vm.filter">
                    </div>

                    <div class="form-group ">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;差异类型&nbsp;&nbsp;
                        <select ng-model="diffTypeValue" class="form-control" ng-options="cytype for cytype in cytypes">
                        </select>
                    </div>

                    <div class="form-group ">
                        事项类型&nbsp;&nbsp;
                        <select ng-model="sxlxmcvalue" class="form-control" ng-options="sxtype for sxtype in sxtypes">
                        </select>
                    </div>
                </form>

                <div style="font-size:16px;font-weight: bold;margin: 10px 0;display: inline-block">
                    {{typeName}}——进驻事项数版本差异列表
                </div>
                <div style="display: inline-block;margin-left: 30px;">新增&nbsp;&nbsp;<div style="width: 30px;background-color: #ccffdd;display: inline-block;border: 1px solid #bbbbbb;border-radius: 3px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>
                <div style="display: inline-block;margin-left: 30px;">删除&nbsp;&nbsp;<div style="width: 30px;background-color: #ffdddd;display: inline-block;border: 1px solid #bbbbbb;border-radius: 3px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>

                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>事项编码</th>
                        <th class="align-left">事项名称</th>
                        <th>组织机构简称</th>
                        <th>行政区划</th>
                        <th>办事深度</th>
                        <th>跑动次数</th>
                        <th>事项类型</th>
                        <th changerank datatype="version" style="cursor: pointer">日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="9">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="9">暂无数据</td>
                    </tr>

                    <tr ng-repeat="item in vm.items|diffTypeSelect:diffTypeValue:comStartTime:comEndTime|choseSelect:sxlxmcvalue:'sxlxmc'|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)">{{item.index}}</td>
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-left">{{item.sxbm}}</td>
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-left"><span uib-tooltip="{{item.sxmc}}">{{item.sxmc|strCutNum:14}}</span></td>
                        <td ng-if="item.zzjgjc != null && item.zzjgjc != '' && item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-left">
                            <span uib-tooltip="{{item.zzjgjc}}">{{item.zzjgjc|strCutNum:8}}</span>
                        </td>
                        <td ng-if="(item.zzjgjc == null || item.zzjgjc == '') && item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-left">无</td>
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-left">{{item.xzqhqc}}</td>
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-center">{{item.sbwsbssd}}</td>
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-center">{{item.pdcs}}</td>
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-left">{{item.sxlxmc}}</td>
                        <td ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" class="align-left">{{item.version}}</td>
                    <!--上下两种情况对应不同颜色-->
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)">{{item.index}}</td>
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-left">{{item.sxbm}}</td>
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-left"><span uib-tooltip="{{item.sxmc}}">{{item.sxmc|strCutNum:14}}</span></td>
                        <td ng-if="item.zzjgjc != null && item.zzjgjc != '' && item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-left">
                            <span uib-tooltip="{{item.zzjgjc}}">{{item.zzjgjc|strCutNum:8}}</span>
                        </td>
                        <td ng-if="(item.zzjgjc == null || item.zzjgjc == '') && item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-left">无</td>
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-left">{{item.xzqhqc}}</td>
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-center">{{item.sbwsbssd}}</td>
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-center">{{item.pdcs}}</td>
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-left">{{item.sxlxmc}}</td>
                        <td ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" class="align-left">{{item.version}}</td>

                    </tr>

                    <!--<tr ng-if="item.version==comStartTime" style="background: rgba(255,221,221,0.8)" ng-repeat="item in vm.items|diffTypeSelect:diffTypeValue:comStartTime:comEndTime|choseSelect:sxlxmcvalue:'sxlxmc'|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">
                        <td>{{item.index}}</td>
                        <td class="align-left">{{item.sxbm}}</td>
                        <td class="align-left"><span uib-tooltip="{{item.sxmc}}">{{item.sxmc|strCutNum:14}}</span></td>
                        <td class="align-left" ng-if="item.zzjgjc != null && item.zzjgjc != ''">
                            <span uib-tooltip="{{item.zzjgjc}}">{{item.zzjgjc|strCutNum:8}}</span>
                        </td>
                        <td class="align-left" ng-if="item.zzjgjc == null || item.zzjgjc == ''">无</td>
                        <td class="align-left">{{item.xzqhqc}}</td>
                        <td class="align-center">{{item.sbwsbssd}}</td>
                        <td class="align-center">{{item.pdcs}}</td>
                        <td class="align-left">{{item.sxlxmc}}</td>
                        <td class="align-left">{{item.version}}</td>
                    </tr>

                    <tr ng-if="item.version==comEndTime" style="background: rgba(204,255,221,0.8)" ng-repeat="item in vm.items|diffTypeSelect:diffTypeValue:comStartTime:comEndTime|choseSelect:sxlxmcvalue:'sxlxmc'|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">
                        <td>{{$index+1}}</td>
                        <td class="align-left">{{item.sxbm}}</td>
                        <td class="align-left"><span uib-tooltip="{{item.sxmc}}">{{item.sxmc|strCutNum:14}}</span></td>
                        <td class="align-left" ng-if="item.zzjgjc != null && item.zzjgjc != ''">
                            <span uib-tooltip="{{item.zzjgjc}}">{{item.zzjgjc|strCutNum:8}}</span>
                        </td>
                        <td class="align-left" ng-if="item.zzjgjc == null || item.zzjgjc == ''">无</td>
                        <td class="align-left">{{item.xzqhqc}}</td>
                        <td class="align-center">{{item.sbwsbssd}}</td>
                        <td class="align-center">{{item.pdcs}}</td>
                        <td class="align-left">{{item.sxlxmc}}</td>
                        <td class="align-left">{{item.version}}</td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数"
                        ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|diffTypeSelect:diffTypeValue:comStartTime:comEndTime|choseSelect:sxlxmcvalue:'sxlxmc'|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|diffTypeSelect:diffTypeValue:comStartTime:comEndTime|choseSelect:sxlxmcvalue:'sxlxmc'|filter:vm.filter|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>
        </div>
    </div>
</section>