<section class="content-header">
    <div class="btn-group">
<!--
        <button ng-if="ifAdmin" class="btn btn-default" aria-hidden="true" data-toggle="modal" data-target="#uploadFileModal">模板上传</button>
-->
        <button ng-if="ifAdmin" class="btn btn-default" ng-click="fileTypeEdit()">分组管理</button>
    </div>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i>系统管理</a></li>
        <li class="active">报表模板管理</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" role="form">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="输入查询内容" ng-model="fileName">
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th >序号</th>
                        <th style="cursor:pointer">模板名</th>
                        <th style="cursor:pointer">分组</th>
                        <th style="cursor:pointer">上传用户</th>
                        <th style="cursor:pointer">上传时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="6">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="6">暂无数据</td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length != 0" ng-repeat="item in vm.items|orderBy:col:desc|filter:fileName|filter:selectedFileType|paging:vm.page.index:vm.page.size ">
                        <td>{{item.index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.groupname}}</td>
                        <td>{{item.cuser}}</td>
                        <td>{{item.createtime}}</td>
                        <td>
                            <i class="btn fa fa-eye" ng-click="showExcel(item.groupname, item.content)" data-toggle="modal" data-target="#showExcelModal" title="查看说明"></i>
                            <i ng-if="ifAdmin" data-toggle="tooltip" data-placement="top" title="编辑">
                                <i class="btn fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#editContentModal" ng-click="getExcelInfo(item.id,item.content, item.groupid)"></i>
                            </i>
                            <i class="btn fa fa-download" style="color: #333;" ng-click="downloadFile(item.id)" title="下载模板"></i>
                            <i class="btn fa fa-upload" ng-if="ifAdmin" style="color: #333;" aria-hidden="true" data-toggle="modal" data-target="#uploadFileModal" ng-click="uploadExcelTmp(item.id,item.name)" title="上传模板"></i>
                            <!--<i ng-if="ifAdmin" data-toggle="tooltip" data-placement="top" title="删除">
                                <i class="btn fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#delFileModal" ng-click="showDeleteFileModel(item.id,item.name)"></i>
                            </i>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="showExcelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form role="form">
                                </br><span>分组：</span></br>
                                <h3>&nbsp;&nbsp;{{groupShow}}</h3>
                                <!--<input type="text" ng-model="groupShow" readonly="true" style="width:70%;margin-left:10%;">-->
                                </br><span>说明：</span></br>
                                <h3>&nbsp;&nbsp;{{contentShow}}</h3>
                                <!--<textarea ng-model="contentShow" style="width:70%;margin-left:10%;" maxlength="50" readonly="true"></textarea>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form role="form">
                                <label class="control-label">分组</label><br/>
                                <select class="form-control" ng-model="excelGroup">
                                    <option ng-repeat="x in groupList" value="{{x.id}}">{{x.name}}</option>
                                </select>
                                <label class="control-label">说明</label><br/>
                                <textarea ng-model="excelTmpContent" class="form-control" rows="6" placeholder="描述" maxlength="50"></textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" ng-click="saveEditExcel()">确定</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="delFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form role="form">
                                <nobr><label class="control-label">确定删除文件<span id="delFile" style="color: blue">{{delFileName}}</span>？</label></nobr>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="delFileFun()">
                                确定
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form  name="form" method="post" id="excelUploadForm" enctype="multipart/form-data">
                                <input type="hidden" name="uploadTmpId" value="{{uploadTmpId}}" title="报表模板的id" />

                                <br>
                                <input type="file" class="btn btn-default" ngf-select ng-model="file" name="file"  style="width:70%;margin-left: 10%;">
                                <br>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="closeUpFileModal()">关闭</button>
                            <button type="button" class="btn btn-primary" ng-click="submit2()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数"
                        ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|filter:fileName|filter:selectedFileType|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|filter:fileName|filter:selectedFileType|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>
        </div>
    </div>
</section>