<section class="content-header">
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i>系统管理</a></li>
        <li class="active">数据质量申诉</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="width:30%">
                    <input type="text" class="form-control" style="width: 100%" placeholder="输入查询内容" ng-model="vm.filter">
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>反馈标题</th>
                        <th>状态</th>
                        <th>反馈用户</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="5">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="5">暂无数据</td>
                    </tr>
                    <tr ng-repeat="item in vm.items|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td >
                            <span ng-if="item.state=='feed'">反馈</span>
                            <span ng-if="item.state=='reject'">驳回</span>
                            <span ng-if="item.state=='wait'">待修正</span>
                            <span ng-if="item.state=='corrected'">已修正</span>
                        </td>
                        <td>{{item.editUser}}</td>
                        <td>
                            <i data-toggle="tooltip" data-placement="top" title="反馈操作" ng-click="feedbackDecision(item.id)"><i class="btn fa fa-pencil-square-o"></i></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数" ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|filter:vm.filter|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>
        </div>
    </div>
</section>