<section class="content-header">
    <ol class="breadcrumb">
        <li style="cursor: pointer" ng-click="goFeedback()"><a><i class="fa fa-dashboard"></i>数据质量申述</a></li>
        <li class="active">反馈具体内容</li>
    </ol>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th ng-bind="feedbackTitle"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="9" ng-bind="feedbackContent"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-1">
                <button type="button" class="btn btn-default" ng-click="goFeedback()">取消操作</button>
            </div>
            <div class="col-sm-offset-2 col-sm-1">
                <button type="submit" class="btn btn-default" ng-click="reject()">驳回</button>
            </div>
            <div class="col-sm-offset-2 col-sm-1">
                <button type="submit" class="btn btn-default" ng-click="appeal()">提交申诉</button>
            </div>
        </div>
    </div>
</section>