<section class="content-header">
    <ol class="breadcrumb">
        <li style="cursor: pointer" ng-click="goFeedback()"><a><i class="fa fa-dashboard"></i>数据质量反馈</a></li>
        <li class="active">编辑反馈</li>
    </ol>
</section>

<section class="content">
    <form class="form-horizontal" name="addFeedback" role="form" style="position: relative;top: 80px;width: 800px;left: 10px;" >
        <div class="form-group">
            <label for="feedbackName" class="col-sm-2 col-md-offset-2 control-label">反馈名称</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="feedbackName" ng-model="feedbackName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-md-offset-2 control-label">反馈内容</label>
            <div class="col-sm-7">
                <textarea id="planDesc" class="form-control" rows="6" placeholder="描述"  ng-model="feedbackDes"></textarea>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-1">
                <button type="submit" class="btn btn-default" ng-click="editFeedbackSub()">保存</button>
            </div>
            <div class="col-sm-offset-1 col-sm-1">
                <button type="button" class="btn btn-default" ng-click="goFeedback()">取消</button>
            </div>
        </div>
    </form>
</section>