<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dels.dao.monitor.BaseDataMapper">

    <resultMap id="BaseDate" type="com.dels.model.monitor.BaseDataRegion"></resultMap>
    <parameterMap id="pBaseDate" type="com.dels.model.monitor.BaseDataRegion"></parameterMap>

    <!--查询所有用户信息-->
    <select id="getBaseDateReginList" resultType="java.util.Map">
        SELECT XZQHDM, XZQHQC, SJDM, SJMC, QYDM, QYMC, QYJBDM, QYJBMC, qybs, dssx, qxsx
        FROM t_dim_areadivide
        where qyjbdm=4
        ORDER BY XZQHDM ASC
    </select>

    <update id="updateBaseDateRegionList" parameterMap="pBaseDate">
        update t_dim_areadivide
        set qybs=#{qybs},QYMC=#{QYMC},XZQHQC=replace(XZQHQC,#{originalQYMC},#{QYMC})
        where XZQHDM=#{XZQHDM}
    </update>

    <update id="updateBaseDateDeveArea" parameterMap="pBaseDate">
        update t_dim_areadivide
        set qxsx= (SELECT MAX(qxsx)+1 FROM t_dim_areadivide)
        where XZQHDM=#{XZQHDM}
    </update>

    <update id="updateBaseDateNoDeveArea" parameterMap="pBaseDate">
        update t_dim_areadivide
        set qxsx= -1
        where XZQHDM=#{XZQHDM}
    </update>

    <insert id="addBaseData" parameterMap="pBaseDate">
        insert into t_dim_areadivide(XZQHDM, XZQHQC, SJDM, SJMC, QYDM, QYMC, QYJBDM, QYJBMC, qybs, dssx, qxsx)
        values(
            #{XZQHDM}, #{XZQHQC}, #{SJDM}, #{SJMC}, #{QYDM}, #{QYMC}, #{QYJBDM}, #{QYJBMC}, #{qybs}, #{dssx},#{qxsx}
        )
    </insert>

    <delete id="delBaseData" parameterMap="pBaseDate">
        delete from t_dim_areadivide
        where XZQHDM=#{XZQHDM}
    </delete>
    <select id="getXzqudm" parameterMap="pBaseDate" resultType="String">
        SELECT XZQHDM
        FROM t_dim_areadivide
        where XZQHDM=#{XZQHDM}
    </select>

    <select id="getDsName" resultType="java.util.Map">
        select SJMC,dssx from t_dim_areadivide
        where qyjbdm='4'
        group by sjmc,dssx
    </select>

    <select id="getMaxQxsx" parameterType="String" resultType="java.lang.Integer">
        select (max(qxsx)+1) as max_qxsx from t_dim_areadivide
        where QYJBDM = 4 and SJMC=#{SJMC}
    </select>

    <select id="findSZMC" resultType="String">
        SELECT TRIM(ZZJGMC) AS ZZJGMC FROM DIM_DEPARTMENT WHERE XZQHDM='440000' GROUP BY ZZJGMC ORDER BY ZZJGMC DESC
    </select>

    <select id="findDSMC" resultType="String">
        SELECT TRIM(SJMC) AS SJMC FROM T_DIM_AREADIVIDE WHERE QYJBDM=3 GROUP BY SJMC ORDER BY SJMC
    </select>

</mapper>