<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dels.dao.monitor.DataMonitorMapper">

    <select id="findListByModel" parameterType="com.dels.dao.monitor.DataMonitorMapper" resultType="java.util.Map">
        select
            zzjgjc as xzqhqc,xzqhdm,
            sum(tsjb) as "tsjb",
            sum(ycsl) as "ycsl",
            format(avg(sll), 2) as "sll",
            format(avg(ifnull(ywbj/ywzl*100, 0)), 2) as "bjl",
            format(avg(ifnull(ycsl/ywzl*100, 0)), 2) as "ycl",
            format(avg(ifnull(mysl/ywzl*100, 0)), 2) as "myl"
        from t_fx_jt_ywblfx
        where 1=1
         <if test="startTime != null and startTime != ''">
             and blsj &gt;= #{startTime}
         </if>
         <if test="endTime != null and endTime != ''">
             and blsj &lt;= #{endTime}
         </if>
        group by xzqhdm,zzjgjc
        order by  xzqhdm asc
    </select>
    <select id="findAllRates" parameterType="com.dels.dao.monitor.DataMonitorMapper" resultType="java.util.Map">
        select
            sum(ywsl) as ywsl,
            sum(ywzl) as ywzl,
            sum(ywbj) as ywbj,
        from  t_fx_jt_ywblfx where 1=1
        <if test="startTime != null and startTime != ''">
            and blsj &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and blsj &lt;= #{endTime}
        </if>
    </select>

    <select id="findSumByTime" parameterType="String" resultType="java.util.Map">
        select
            sum(ywsl) as "ywsl",
            sum(ywzl) as "ywzl",
            sum(ywbj) as "ywbj",
            sum(ycsl) as "ycsl",
            sum(mysl) as "mysl",
            sum(tsjb) as "tsjb",
        from  t_fx_jt_ywblfx
        where blsj= #{blsj}
    </select>


    <select id="findHBTB" parameterType="java.util.Map" resultType="java.util.Map">
        select
            aa.zzjgjc as xzqhqc, aa.ywzl, aa.ywsl, aa.ywbj, aa.ycsl, aa.mysl, aa.tsjb, aa.xzqhdm,
            format(ifnull(aa.ywsl/aa.ywzl*100, 0), 2) as "sll",
            format(ifnull(aa.ywbj/aa.ywzl*100, 0), 2) as "bjl",
            format(ifnull(aa.ycsl/aa.ywzl*100, 0), 2) as "ycl",
            format(ifnull(aa.mysl/aa.ywzl*100, 0), 2) as "myl",
            format(ifnull((aa.ywzl-bb.ywzl)/bb.ywzl*100, 0), 2) as hbywzl,
            format(ifnull((aa.ywsl-bb.ywsl)/bb.ywsl*100, 0), 2) as hbywsl,
            format(ifnull((aa.ywbj-bb.ywbj)/bb.ywbj*100, 0), 2) as hbywbj,
            format(ifnull((aa.ycsl-bb.ycsl)/bb.ycsl*100, 0), 2) as hbycsl,
            format(ifnull((aa.mysl-bb.mysl)/bb.mysl*100, 0), 2) as hbmysl,
            format(ifnull((aa.tsjb-bb.tsjb)/bb.tsjb*100, 0), 2) as hbtsjb,
            format(ifnull((aa.ywzl-cc.ywzl)/cc.ywzl*100, 0), 2) as tbywzl,
            format(ifnull((aa.ywsl-cc.ywsl)/cc.ywsl*100, 0), 2) as tbywsl,
            format(ifnull((aa.ywbj-cc.ywbj)/cc.ywbj*100, 0), 2) as tbywbj,
            format(ifnull((aa.ycsl-cc.ycsl)/cc.ycsl*100, 0), 2) as tbycsl,
            format(ifnull((aa.mysl-cc.mysl)/cc.mysl*100, 0), 2) as tbmysl,
            format(ifnull((aa.tsjb-cc.tsjb)/cc.tsjb*100, 0), 2) as tbtsjb
        from
           (select a.zzjgjc, a.ywzl, a.ywsl, ywbj, a.ycsl, a.mysl, a.tsjb, a.xzqhdm from t_fx_jt_ywblfx a where blsj=#{lastMonth}) as aa
        left join
           (select b.ywzl, b.ywsl, b.ywbj, b.ycsl, b.mysl, b.tsjb, b.xzqhdm from t_fx_jt_ywblfx b where blsj=#{lastTwoMonth}) as bb
           on aa.xzqhdm=bb.xzqhdm
        left join
           (select c.ywzl, c.ywsl, c.ywbj, c.ycsl, c.mysl, c.tsjb, c.xzqhdm from t_fx_jt_ywblfx c where blsj=#{lastYear}) as cc
           on aa.xzqhdm=cc.xzqhdm
    </select>

    <select id="findSJJC" parameterType="java.util.Map" resultType="java.util.Map">
        select  zzjgjc as xzqhqc ,
            sum(zqs) as 'zqs',
            sum(yys) as 'yys',
            sum(zts) as 'zts',
            format(avg(ifnull(zqs/zts*100, 0)), 2) as "zql",
            format(avg(ifnull(yys/zts*100, 0)), 2) as "yyl"
        from t_fx_jt_sjjcyyfx
        where 1=1
        <if test="null != startTime and '' != startTime">
            and jlsj &gt;= #{startTime}
        </if>
        <if test="null != endTime and '' != endTime">
            and jlsj &lt;= #{endTime}
        </if>
        group by zzjgjc
        order by zzjgjc asc
    </select>

</mapper>