<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dels.dao.monitor.DataIndexMapper">

    <select id="findYCLGZList" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.util.Map">
        select
            id, rname, rcontent, cuser, group_name, group_id,
            date_format(ctime, '%Y-%m-%d %H:%i:%s') as ctime
        from t_fx_jt_yclgz
        where 1=1
        <if test="rname != null and rname != ''">
            and rname = #{rname}
        </if>
        order by ctime desc
    </select>

    <select id="findYCLFZList" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.util.Map">
        select
            id, name, user_name, date_format(ctime, '%Y-%m-%d %H:%i:%s') as ctime
        from t_fx_jt_yclgzfz
        where 1=1
        <if test="groupName != null and groupName != ''">
            and name = #{groupName}
        </if>
        order by ctime desc
    </select>

    <select id="countYCLGZByGId" parameterType="String" resultType="java.lang.Integer">
        select count(1)
        from t_fx_jt_yclgz
        where group_id=#{groupId}
    </select>

    <select id="findGName" parameterType="String" resultType="String">
        select name
        from t_fx_jt_yclgzfz
        where id = #{id}
    </select>

    <insert id="insertYCLGZ" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        insert into t_fx_jt_yclgz(id, rname, rcontent, cuser, group_name, group_id, ctime)
        values(#{id}, #{rname}, #{rcontent}, #{cuser},   #{groupName},  #{groupId}, current_timestamp(0))
    </insert>

    <insert id="insertYCLFZ" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        insert into t_fx_jt_yclgzfz(id, name, user_name,ctime)
        values(#{id}, #{groupName}, #{cuser},  current_timestamp(0))
    </insert>

    <delete id="deleteYCLGZById" parameterType="String">
        delete from t_fx_jt_yclgz where id=#{id}
    </delete>

    <delete id="deleteYCLFZById" parameterType="String">
        delete from t_fx_jt_yclgzfz where id=#{id}
    </delete>

    <update id="updateYCLGZ" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        update t_fx_jt_yclgz  set
            rname = #{rname},
            rcontent = #{rcontent},
            group_id = #{groupId}, group_name = #{groupName}
        where id=#{id}
    </update>

    <update id="updateYCLFZ" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        update t_fx_jt_yclgzfz  set
            name=#{groupName}
        where id=#{id}
    </update>

    <!--分析主题库操作  start l13595 2017/3/19 12:15 -->
    <select id="findFXZTK" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.util.Map">
        select
            id, name, user_name, date_format(ctime, '%Y-%m-%d %H:%i:%s') as ctime
        from t_fx_jt_fxztk
        order by ctime desc
    </select>

    <select id="findFXZT" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.util.Map">
        select
            id, name, content, ztk_id, ztk_name, user_name, date_format(ctime, '%Y-%m-%d %H:%i:%s') as ctime
        from t_fx_jt_fxzt
        where 1=1
        <if test="null != themeId and '' != themeId">
            and ztk_id=#{themeId}
        </if>
        <if test="null != theme and '' != theme">
            and ztk_name=#{theme}
        </if>
        order by ctime DESC
    </select>

    <insert id="insertFXZTK" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        insert into t_fx_jt_fxztk(id, name, user_name, ctime)
        values(#{themeId}, #{theme}, #{cuser}, current_timestamp(0))
    </insert>

    <select id="findFXZTKNameById" parameterType="String" resultType="String">
        select name
        from t_fx_jt_fxztk
        where id=#{themeId}
    </select>

    <insert id="insertFXZT" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        insert into t_fx_jt_fxzt(id, name, content, ztk_id, ztk_name, user_name, ctime)
        values(#{id}, #{tName}, #{tContent}, #{themeId}, #{theme}, #{cuser}, current_timestamp(0))
    </insert>

    <update id="updateFXZTK" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        update t_fx_jt_fxztk set name=#{theme} where id=#{themeId}
    </update>

    <update id="updateFXZT" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        update t_fx_jt_fxzt set
             name=#{tName},
             content=#{tContent}
        where id=#{id}
    </update>

    <delete id="deleteFXZTKById" parameterType="String">
        delete t_fx_jt_fxztk where id=#{themeId}
    </delete>

    <delete id="deleteFXZTById" parameterType="String">
        delete t_fx_jt_fxzt where id=#{id}
    </delete>

    <select id="checkInsertFXZTK" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.lang.Integer">
        select count(1)
        from t_fx_jt_fxztk
        where 1=1
        <if test="theme != null and theme !=''">
            and name=#{theme}
        </if>
    </select>

    <select id="checkInsertFXZT" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.lang.Integer">
        select count(1)
        from t_fx_jt_fxzt where 1=1
        <if test="null!=tName and ''!=tName">
            and name = #{tName}
        </if>
    </select>

    <select id="checkUpdateFXZTK" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.lang.Integer">
        select count(1)
        from t_fx_jt_fxztk
        where 1=1
        <if test="theme != null and theme !='' and null != themeId and '' != themeId">
            and name=#{theme}
            and id != #{themeId}
        </if>
    </select>

    <select id="checkUpdateFXZT" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.lang.Integer">
        select count(1)
        from t_fx_jt_fxzt where 1=1
        <if test="null!=tName and ''!=tName and null != id and '' != id">
            and name = #{tName}
            and id != #{id}
        </if>
    </select>

    <select id="checkDeleteFXZTK" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.lang.Integer">
        select count(1)
        from t_fx_jt_fxzt where ztk_id=#{themeId}
    </select>


    <select id="findZBTX" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.util.Map">
        select id, zbmc, cuser, date_format(ctime, '%Y-%m-%d %H:%i:%s') as ctime
        from t_fx_jt_zbtx
        ORDER BY  ctime DESC
    </select>

    <insert id="insertZBTX" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        insert into t_fx_jt_zbtx(id, zbmc, cuser)  values(#{id}, #{zbmc}, #{cuser})
    </insert>

    <update id="updateZBTX" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        update  t_fx_jt_zbtx set zbmc=#{zbmc} where id= #{id}
    </update>

    <delete id="deleteZBTX" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        delete from t_fx_jt_zbtx where id= #{id}
    </delete>

    <select id="findJSGZ" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.util.Map">
        select id, gzmc, jsgs, cuser, date_format(ctime, '%Y-%m-%d %H:%i:%s') as ctime
        from t_fx_jt_jsgz
        where 1=1
        <if test="null != gzid and '' != gzid">
            and id = #{gzid}
        </if>
        order by ctime DESC
    </select>

    <insert id="insertJSGZ" parameterType="com.dels.model.dataIndexSys.DataIndexModel" >
        insert into t_fx_jt_jsgz(id, gzmc, cuser )
        values(#{gzid}, #{gzmc}, #{cuser})
    </insert>

    <update id="updateJSGZ" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        update t_fx_jt_jsgz set gzmc = #{gzmc} where id= #{gzid}
    </update>

    <update id="saveJSGSByGZId">
        update t_fx_jt_jsgz set jsgs = #{jsgs} where id= #{gzid}
    </update>

    <delete id="deleteJSGZ" parameterType="String">
        delete from t_fx_jt_jsgz where id = #{gzid}
    </delete>

    <insert id="insertGZCS" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        insert into t_fx_jt_gzcs(id, gzid, csid)
        values(#{id}, #{gzid}, #{csid})
    </insert>

    <delete id="deleteGZCS" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        delete from t_fx_jt_gzcs where gzid = #{gzid}
    </delete>

    <select id="findGZCSByGZId" parameterType="String" resultType="java.util.Map">
        select a.id, gzid, csid,  b.csmc, b.colname
        from t_fx_jt_gzcs a
        left join t_fx_jt_zbcs b on a.csid=b.id
        where gzid= #{gzid}
    </select>

    <delete id="deleteGZCSById" parameterType="String">
        DELETE FROM t_fx_jt_gzcs where id = #{gzcsid}
    </delete>

    <select id="findZBCS" resultType="java.util.Map">
        select id, csmc, cuser, date_format(ctime, '%Y-%m-%d %H:%i:%s') as cctime, ctime
        from t_fx_jt_zbcs
        where id not in (
            select csid from t_fx_jt_gzcs where gzid=#{gzid}
        )
        order by ctime desc
    </select>

    <insert id="insertZBCS" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        insert into t_fx_jt_zbcs(id, csmc, cuser)
        values(#{csid}, #{csmc}, #{cuser})
    </insert>

    <delete id="deleteZBCS" parameterType="String">
        delete from t_fx_jt_zbcs where id = #{csid}
    </delete>

    <update id="updateZBCS" parameterType="com.dels.model.dataIndexSys.DataIndexModel">
        update t_fx_jt_zbcs set csmc = #{csmc} where id=#{csid}
    </update>

    <select id="checkGZMC" parameterType="com.dels.model.dataIndexSys.DataIndexModel" resultType="java.lang.Integer">
        select count(1) from t_fx_jt_jsgz
        where gzmc=#{gzmc}
        <if test="null != gzid and '' != gzid">
            and id != #{gzid}
        </if>
    </select>

    <select id="exeJSGS" >
        ${sql}
    </select>

    <select id="bmzwRestful" resultType="java.util.Map">
        select
            zzjgdm, zzjgmc, bzwbl, mzwbl, byjbl
        from  t_fx_jt_bmxw
        where zzjgdm=#{zzjgdm}
            and tjnf=#{year} and tjyf &gt;= #{smonth} and tjyf &lt;= #{emonth}
    </select>

</mapper>