<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 数据分析</li>
        <li class="active">事项办理时长分析</li>
    </ol>
</section>
<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <div><strong>说明<i class="fa fa-info-circle"></i>:</strong>&nbsp;&nbsp;当前界面统计数据只针对行政审批事项；总共节省天数 = &sum; 平均节省天数 * 业务量</div>
                </div>
            </div>-->
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <div><strong>说明<i class="fa fa-info-circle"></i>:</strong></div>
                    <div>
                        1、本界面数据只针对省级部门，不包含地市和区县<br>
                        2、总共节省天数 = &sum; 平均节省天数 * 业务量
                    </div>
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>有效事项数<span class="label label-success">{{vm.items|size}}</span></h3>
                    <h5>
                        <small><i class="fa fa-info-circle"></i>有效事项数：当年业务量排行前100的事项数</small>
                    </h5>
                    <h5>
                        <small><i class="fa fa-bullhorn"></i>有效事项数只针对省级部门，不包含地市和区县</small>
                    </h5>
                    <!--<h5>
                        <small>行政审批 | 公共服务</small>
                    </h5>
                    <h4>
                        {{vm.items|choseSelect:'行政审批':'sxlxmc'|size}} | {{vm.items|choseSelect:'公共服务':'sxlxmc'|size}}
                    </h4>-->
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>平均节省天数<span class="label label-primary">{{avSave}}</span></h3>
                    <h5>
                        <small>总共节省天数 | 总业务量</small>
                    </h5>
                    <h4>
                        {{saveSum}} | {{cSum}}
                    </h4>
                </div>
            </div>
            <div class="col-md-4 rate-padding">
                <div class="blue-border">
                    <h3>准时率<span class="label label-info">{{onTimeNum + '%'}}</span></h3>
                    <h5>
                        <small>平均办理天数准时的事项数 | 平均办理天数超时的事项数</small>
                    </h5>
                    <h4>
                        {{onTimeNum}} | {{100 - onTimeNum}}
                    </h4>
                </div>
            </div>

            <div class="col-md-12">
                <form class="form-inline" role="form" style="margin-top: 10px">
                    <select ng-model="choseYear" class="form-control" ng-options="year for year in years">
                    </select>&nbsp;&nbsp;年&nbsp;&nbsp;

                    <div class="form-group ">
                        事项类型&nbsp;&nbsp;
                        <select ng-model="sxlxmcvalue" class="form-control" ng-options="sxtype for sxtype in sxtypes">
                        </select>
                    </div>

                    <div class="form-group" style="width:30%">
                        <input type="text" class="form-control" style="width: 100%" placeholder="输入查询内容" ng-model="vm.filter">
                    </div>

                    <button class="btn btn-default " ng-click="togglePerspective();" style="margin-left: 10px">查询</button>
                </form>

                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                    <tr class="j_th_tit">
                        <th>序号</th>
                        <th>事项编码</th>
                        <th>事项名称</th>
                        <th changerank datatype="c">业务量</th>
                        <th changerank datatype="av">平均办理天数</th>
                        <th changerank datatype="promised_period">承诺办理天数</th>
                        <th changerank datatype="save">平均节省天数</th>
                        <th>事项类型</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.items == null">
                        <td colspan="8">
                            <div class="text-center">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.items != null && vm.items.length == 0">
                        <td colspan="8">暂无数据</td>
                    </tr>

                    <!--<tr ng-repeat="item in vm.items|diffTypeSelect:diffTypeValue:comStartTime:comEndTime|choseSelect:sxlxmcvalue:'sxlxmc'|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">-->
                    <tr ng-repeat="item in vm.items|choseSelect:sxlxmcvalue:'sxlxmc'|orderBy:col:desc|filter:vm.filter|paging:vm.page.index:vm.page.size ">
                        <td>{{item.index}}</td>
                        <td class="align-left">{{item.sxbm|strCutNum:26}}</td>
                        <td class="align-left"><span uib-tooltip="{{item.sxmc}}">{{item.sxmc|strCutNum:14}}</span></td>
                        <td class="align-center">{{item.c}}</td>
                        <td class="align-center">{{item.av}}</td>
                        <td class="align-center">{{item.promised_period}}</td>
                        <td class="align-center">{{item.save}}</td>
                        <td class="align-center">{{item.sxlxmc}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <select ng-model="vm.page.size" class="form-control" title="每页条目数"
                        ng-options="pageSize for pageSize in [5, 10, 20, 50]"></select>
            </div>
            <div class="col-md-10">
                <uib-pagination total-items="vm.items|choseSelect:sxlxmcvalue:'sxlxmc'|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
                                items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></uib-pagination>
                <span class="list-nav-num pull-right form-group">共有{{vm.items|choseSelect:sxlxmcvalue:'sxlxmc'|filter:vm.filter|size}}条，每页显示：{{vm.page.size}}条</span>
            </div>
        </div>
    </div>
</section>