<section class="content-header">
    <h1>内容编辑贴</h1>
    <ol class="breadcrumb">
        <li ng-click="goParent()"><a href=""><i class="fa fa-dashboard"></i>主题管理</a></li>
        <li class="active">编辑帖</li>
    </ol>
</section>
<section class="content">
    <form role="form">
        <div class="form-group">
            <label for="theme">主题</label>
            <input type="text" class="form-control" id="theme" placeholder="请编辑当前内容主题" ng-model="theme">
        </div>
        <div class="form-group">
            <text-angular ng-model="content" ta-toolbar="[['h1','h2','h3','h4','h5','h6','p','pre','quote'],['bold','italics','underline','strikeThrough'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent'],['html','insertImage','insertLink','charcount']]"></text-angular>
        </div>
    </form>
    <div class="pull-right m-right-15">
        <h4>
            <small>
                <toolbar icon="fa-user-circle"></toolbar>
                创建人：{{user}}
                <toolbar icon="fa-clock-o"></toolbar>
                当前时间：<span current-time></span>
            </small>
        </h4>
    </div>
    <div class="center-block" style="text-align: center;margin-top: 40px;">
        <button class="button button-raised button-primary button-pill" ng-click="saveNote('0')">
            <i class="fa fa-trash"></i>保存草稿箱
        </button>
        <button class="button button-raised button-action button-pill" ng-click="saveNote('1')">
            <i class="fa fa-mail-forward"></i>发布
        </button>
    </div>
</section>