<div class="modal-header">
    <h4>区域选择</h4>
</div>
<div class="modal-body">
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="type" value="0"> 珠三角
    </label>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="type" value="1"> 粤东西北
    </label>
    <form class="form-inline" role="form">
        <div class="checkbox" ng-repeat="item in items">
            <label>
                <input ng-checked="true" type="checkbox" ng-click="updateSelection(item)"> {{item.des}}
            </label>
        </div>
        <div ng-show="category == 'city'" class="checkbox" ng-repeat="oitem in oitems">
            <label>
                <input ng-checked="false" type="checkbox" ng-click="updateSelection(oitem)"> {{oitem.des}}
            </label>
        </div>
        <div ng-show="selection.length == 0" style="color:red">*必须选择至少一项</div>
    </form>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">确认</button>-->
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="selection.length == 0">确认</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>